asgiref==3.2.10
beautifulsoup4==4.10.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1625213448432/work
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1643649795184/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1635822573388/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1634230275410/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1632235402030/work
dash-bootstrap-components @ file:///home/conda/feedstock_root/build_artifacts/dash-bootstrap-components_1644118775506/work
dash-colorscales @ file:///home/conda/feedstock_root/build_artifacts/dash_colorscales_1593443621680/work
dash-core-components @ file:///home/conda/feedstock_root/build_artifacts/dash-core-components_1632311995097/work
dash-daq @ file:///home/conda/feedstock_root/build_artifacts/dash-daq_1596869611219/work
dash-html-components @ file:///home/conda/feedstock_root/build_artifacts/dash-html-components_1632395620759/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
decorator==4.4.2
defusedxml==0.7.1
diff-match-patch==20200713
Django @ file:///tmp/build/80754af9/django_1601563330930/work
django-bootstrap5==21.3
django-ckeditor==6.2.0
django-cleanup==6.0.0
django-import-export==2.7.1
django-js-asset==1.2.2
django-nested-inline==0.4.4
dtale @ file:///home/conda/feedstock_root/build_artifacts/dtale_1637209975858/work
et-xmlfile==1.1.0
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1633384704162/work
Flask-Compress @ file:///home/conda/feedstock_root/build_artifacts/flask-compress_1623842138238/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1635819506105/work
gunicorn @ file:///tmp/build/80754af9/gunicorn_1617118195166/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1642513903188/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612281846643/work
lz4 @ file:///tmp/build/80754af9/lz4_1619516502891/work
MarkupPy==1.14
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1621455668600/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1611858711244/work
missingno==0.4.2
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1622014603188/work
odfpy==1.4.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1632332968451/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.2.3
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
Pillow==8.4.0
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1640064922437/work
PolyMolParser @ git+https://github.com/KanHatakeyama/PolyMolParser.git@0b2f41e4506a94036245a78e6cc5e93314e8ab81
ppscore @ file:///home/conda/feedstock_root/build_artifacts/ppscore_1610419476864/work
psycopg2 @ file:///tmp/build/80754af9/psycopg2_1612298595717/work
psycopg2-binary @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1620868704769/work/psycopg2-binary
pycairo==1.20.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1635862404942/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2020.1
PyYAML==6.0
reportlab==3.5.68
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1605985751345/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1604304774036/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.3.1
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1612225078198/work
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
squarify==0.4.3
statsmodels @ file:///tmp/build/80754af9/statsmodels_1614022848006/work
strsimpy @ file:///home/conda/feedstock_root/build_artifacts/strsimpy_1602624469551/work
tablib==3.2.0
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094708661/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1642714909499/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1643726632328/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
xlwt==1.3.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1643828507773/work
